<!-- weather.component.html -->
<div class="weather-container">
  <div class="weather-input">
    <!-- <form (ngSubmit)="search()" [formGroup]="loactionSearchForm"> -->
    <form (ngSubmit)="search()" [formGroup]="loactionSearchForm">

      <input class="input" formControlName="city" placeholder="Enter city">
      <button type="submit" class="button">Search</button>
    </form>
  </div>


  <ng-container *ngIf="!isLoading">

    <div *ngIf="weather; else errorContent" class="weather-details" [ngClass]="timeClass">
      <h2>City Name: {{ weather.name }}</h2>
      <h2>Country: {{ this.countryName }}</h2>
      <h2>Local Time: {{ localTime | date:'medium' }}</h2>
      <p>Sunrise Time: {{this.sunriseTime| date:'shortTime'}}</p>
      <p>Sunset Time: {{this.sunsetTime | date:'shortTime'}}</p>
      <p>Temperature: {{ weather.main.temp | KToC }} °C</p>
      <p>Pressure: {{ weather.main.pressure }}</p>
      <p>Humidity: {{ weather.main.humidity }}°K</p>
      <p>Description: {{ weather.weather[0].description }}</p>
    </div>

    <ng-template #errorContent>
      <p>{{ error }}</p>

    </ng-template>
  </ng-container>

</div>