.weather-background-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.weather-background-image {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
