/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* weather.component.css */
body {
    background-image: url("./assets/images/day-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.weather-container {
    padding: 30px;
    text-align: center;
    color: white;
    height: 100vh;
}
.weather-input {
    // background-image: url("https://source.unsplash.com/1600x900/?weather");
    background-size: cover;
}
.weather-details {
}

.input {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
}

.button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

p {
    margin: 5px 0;
}

/* app.component.css */
nav {
    // background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    border: 1px solid #007bff;
    border-radius: 6px;
    background-color: #f8f9fa;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    color: #f8f9fa;
    background-color: #007bff;
}
